body {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 10px;
  border: 1px solid salmon;
  border-radius: 10px;
  height: 200px;
}

h1 {
  color: olivedrab;
  font-size: 28px;
  font-weight: 100;
  line-height: 25px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #42b883;
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
}
